* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
body {
  background-color: #c2c2c2;
}
.containerE {
  display: grid;
  height: 120vh;
  grid-template-columns: 0.6fr 0.8fr 1fr 1fr;
  grid-template-rows: 0.09fr 1.5fr 0.25fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "footer footer footer footer";
  /* grid-gap: 0.2rem; */
  /* text-transform: uppercase; */
  font-size: 2rem;
  color: rgb(24, 24, 24);
  text-align: center;
}

nav {
  /* box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.692); */
  background-color: #354732;
  grid-area: nav;
  /* border-radius: 5px; */
  /* padding: 5px; */
  color: rgb(238, 238, 238);
  /* display: flex; */
  /* justify-content: space-between; */
}

nav .navl {
  text-align: left;
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
nav .navl img {
  margin-top: 1%;
  margin-left: 1%;
  width: 9%;
  cursor: pointer;
}

nav .navr {
  font-size: 0.5em;
  width: 50%;
  float: right;
}
nav .navr ul {
  margin-top: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  /* background-color: #333333; */
}
nav ul li {
  float: left;
}
nav ul li a {
  color: rgb(238, 238, 238);
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
#mainEm {
  background-color: #ece7e0;
  grid-area: main;
  border-radius: 5px;
  /* padding: 5px; */
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  /* grid-gap: 0.2rem; */
  grid-template-areas:
    "profileDisplay"
    "profileTab";
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contactlist {
  margin: 0;
  padding: 0;
  font-size: 0.6em;
}
.contactlist a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 1.2em;
  margin-right: 3%;
  font-style: italic;
}
.contactlist a:hover{
  color: #1b8818;
  transition: all 300ms ease-in-out;

}
.cbox {
  width: 100%;

  padding: 2% 0;
  border-top: #ebebeb 1px solid;
  border-bottom: #ebebeb 1px solid;
}
.popup {
  width: 35%;
  height: 35%;
  padding: 3% 3%;
  background-color: #f2f2f2;
  border-radius: 4%;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
}
/* @keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
} */
.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #f5fff3;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 45px;
}
.popup .icon i {
  font-size: 1em;
  color: #f5fff3;
}
.popup .title {
  color: #f5fff3;
  margin: 5px 0px;
  font-size: 0.8em;
  font-weight: 600;
}
.popup .describe {
  color: #f5fff3;
  font-size: 0.5em;
  padding: 5px;
}
.popup .dismiss-btn {
  margin-top: 10px;
}
.popup .dismiss-btn button {
  padding: 10px 20px;
  background-color: #111;
  color: #f2f2f2;
  border: 2px solid #111;
  font-size: 0.6em;
  outline: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}
.popup > div {
  position: relative;
  top: 10px;
  opacity: 0;
}
.popup.active > div {
  top: 0px;
  opacity: 1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .describe {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
.popup.center.active::after {
  opacity: 0;
}
.profileDisplay {
  width: 100%;
  height: 100%;
  /* padding-left: 1%; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #c8ffb4;
  /* border-radius: 2%; */
}
.profilePic {
  width: 20%;
  height: 90%;
  margin-left: 1%;
  border: #354732 3px solid;
  border-radius: 10%;
  background-image: url(../asset/boxchar5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profileInfo {
  margin-left: 1%;
  text-align: left;
}
.profileTab {
  width: 100%;
  height: 100%;
}

.tabs-block{
  overflow: hidden;
  background-color: rgb(164, 209, 164);
  box-shadow: 0 0.3vw 0.3em rgba(0, 0, 0, 0.295);
}
.tabs{
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 1% 4%;
  transition: all ease-in-out 0.1s;
  font-size: 17px;
  border: none;
  outline: none;
  text-transform: uppercase;
}

/* Change background color of buttons on hover */
.tabs:hover {
  background-color: rgb(132, 180, 132);
}

/* Create an active/current tablink class */
.tabs:active{
  color: rgb(59, 59, 59);
  background-color: rgb(238, 238, 238);
  border-bottom: rgb(252, 252, 252) solid 3px;
}

.active-tabs{
  color: rgb(250, 250, 250);
  background-color: #35522a;
  border-bottom: rgb(252, 252, 252) solid 3px;
}
.active-tabs::before{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100%+2px);
  background-color: rgb(114, 29, 81);
}


.tabs-content{
  width: 100%;
  height: 85%;
}
.content-t{
  padding-top: 1%;
  text-indent: 2%;
  text-align: left;
  background-color: #dce6dc;
  width: 100%;
  height: 100%;
  display: none;
  border-bottom: #1f1f1f solid 1px;
}
.active-content{
  display: block;
}
.infotabs-content{
  margin-left: 2%;
  float: left;
  width: 25%;
  border-right: 1px solid #354732;
}
.calen-content{
  width: 90%;
  height: 90%;
  border: 0;
}
.calen-content iframe{
  width: 100%;
  height: 100%;
  border: 0;
}
.task-content{
  width: 90%;
}
.task-content p input{
  width: 2em;
  height: 2em;
  margin-right: 1%;
  font-size: 0.3em;
}
#sidebar {
  color: rgb(238, 238, 238);
  background-color: #5d6e57;
  grid-area: sidebar;
  /* border-radius: 5px; */
  /* padding: 5px; */
  font-size: 0.7em;
  height: 100%;
  /* z-index: 1; */
  /* justify-self: center; */
}
#sidebar .onStatus span {
  margin-right: 3%;
  color: rgb(34, 34, 34);
}
.collapsible {
  text-align: center;
  font-size: 1em;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #354732;
  color: white;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
button.collapsible{
  text-align: center;
}
.collapsible.active {
  background-color: #49663f;
}
.collapsible.active:hover {
  background-color: #64835a;
}

.active,
.collapsible:hover {
  background-color: #40523a;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #354732;
}
.content p {
  /* margin: 2% 0; */
  padding: 2% 0;
  cursor: pointer;
  transition: all 100ms ease 100ms;
}
.content p:hover {
  transform: scale(1.2);
  background-color: #35522a;
}
.onStatus {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  /* margin-bottom: 5%; */
  height: 1%;
  width: 100%;
  /* border: #354732 1px solid; */
  background-color: #f4fff2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 10px;
  height: 10px;
  background-color: #c8ffb4;
  border-radius: 50%;
  border: #354732 1px solid;
}
.message {
  margin-bottom: 3%;
  margin-top: 3%;
}
footer {
  color: #dce6dc;
  background-color: #7e7255;
  grid-area: footer;
  /* border-radius: 5px; */
  padding: 5px;
  font-size: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
}
footer span {
  color: #f0f0f0;
  font-size: 0.8em;
}
