* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
body {
  background-color: #c2c2c2;
}
.containerP {
  display: grid;
  height: 120vh;
  grid-template-columns: 0.6fr 0.8fr 1fr 1fr;
  grid-template-rows: 0.09fr 1.5fr 0.25fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "footer footer footer footer";
  /* grid-gap: 0.2rem; */
  /* text-transform: uppercase; */
  font-size: 2rem;
  color: rgb(24, 24, 24);
  text-align: center;
}

nav {
  /* box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.692); */
  background-color: #354732;
  grid-area: nav;
  /* border-radius: 5px; */
  /* padding: 5px; */
  color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

nav .navl {
  text-align: left;
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
nav .navl img {
  margin-top: 1%;
  margin-left: 1%;
  width: 9%;
  cursor: pointer;
}

nav .navr {
  font-size: 0.5em;
  width: 50%;
  float: right;
}
nav .navr ul {
  /* margin-top: 1%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  /* background-color: #333333; */
}
nav ul li {
  float: left;
}
nav ul li a {
  color: rgb(238, 238, 238);
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
.cbox {
  width: 100%;

  padding: 2% 0;
  border-top: #ebebeb 1px solid;
  border-bottom: #ebebeb 1px solid;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  width: 35%;
  height: 35%;
  padding: 3% 3%;
  background-color: #324230;
  border-radius: 4%;
  box-sizing: border-box;
  z-index: 3;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #f5fff3;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 45px;
}
.popup .icon i {
  font-size: 1em;
  color: #f5fff3;
}
.popup .title {
  color: #f5fff3;
  margin: 5px 0px;
  font-size: 0.8em;
  font-weight: 600;
}
.popup .describe {
  color: #f5fff3;
  font-size: 0.5em;
  padding: 5px;
}
.popup .dismiss-btn {
  margin-top: 10px;
}
.popup .dismiss-btn button {
  padding: 10px 20px;
  background-color: #111;
  color: #f2f2f2;
  border: 2px solid #111;
  font-size: 0.6em;
  outline: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}
.popup > div {
  position: relative;
  top: 10px;
  opacity: 0;
}
.popup.active > div {
  top: 0px;
  opacity: 1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .describe {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
.popup.center.active::after {
  opacity: 0;
}
#mainP {
  background-color: #ece7e0;
  grid-area: main;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-gap: 0.2rem;
  grid-template-areas: "welcome daily";
}
#daily #daiImg {
  border-radius: 5%;
  border: 1px solid black;
  object-fit: cover;
  text-align: center;
  width: 100%;
  height: 100%;
}
.welcome {
  grid-area: welcome;
  /* background-color: #354732; */
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "display"
    "info";
  grid-gap: 0.2rem;
  text-align: left;
  color: #324230;
  font-size: 0.8em;
}
.welcome .display h5 span#fname {
  text-transform: lowercase;
}
.info .contactlistP {
  font-size: 2em;
}
.info .contactlistP a {
  margin-right: 2%;
}

/* hr {
  margin-top: 5%;
} */
.display {
  font-style: italic;
  padding-top: 4vh;
  padding-left: 4vw;
  grid-area: display;
  /* background-color: #84a77e; */
}
div.display {
  height: 5%;
}
.info {
  padding-top: 1vh;
  padding-left: 4vw;
  grid-area: info;
  /* background-color: #c5eebe; */
}
.info a {
  text-decoration: none;
  color: #f136a9;
  font-size: 0.5em;
  font-style: italic;
  transition: all 300ms ease-in-out;
}
.info a:hover {
  text-shadow: #111 1px 1px 1px;
  color: #e9b3db;
}
.daily {
  grid-area: daily;
  background-color: #5d6e57;
  /* background: url(../asset//boxchar1.png) no-repeat center; */
  /* background-size: cover; */
  border: 2px solid #324230;
  border-radius: 5%;
}
#sidebar {
  color: rgb(238, 238, 238);
  background-color: #5d6e57;
  grid-area: sidebar;
  /* border-radius: 5px; */
  /* padding: 5px; */
  font-size: 0.7em;
  height: 100%;
  /* z-index: 1; */
  /* justify-self: center; */
}
#sidebar .selector .searchbox input {
  width: 11.5vw;
  height: 3vh;
}
.selector {
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.searchbox {
  margin: 25px;
}

input#search {
  background-image: url("http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png");
  background-size: 1em;
  background-position: right;
  background-repeat: no-repeat;
  /* text-indent: 5em; */
}
input#search:focus {
  background-image: none;
  text-indent: 0px;
}
::-webkit-input-placeholder {
  text-align: right;
  padding-right: 20px;
}
.boxchar {
  position: relative;
  margin: 10px;
  width: 70%;
  height: 5vh;
  background-color: #dce6dc;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  border: #354732 solid 1px;
  border-radius: 10px;
}
.boxchar p {
  position: relative;
  color: #dce6dc;
  /* line-height: 0.9; */
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  top: 50%;
  /* background-color: #3547328e; */
}
.boxchar:nth-child(2) {
  background: url(../asset/boxchar1.png) no-repeat center;
  background-size: cover;
  background-blend-mode: hue;
  background-color: #3547326e;
}
.boxchar:nth-child(3) {
  background: url(../asset//boxchar2.png) no-repeat 0 -3vh;
  background-size: cover;
  background-blend-mode: hue;
  background-color: #3547326e;
}
.boxchar:nth-child(4) {
  background: url(../asset//boxchar3.jpg) no-repeat 0 -6vh;
  background-size: cover;
  background-blend-mode: hue;
  background-color: #3547326e;
}
.boxchar:nth-child(5) {
  background: url(../asset//boxchar4.jpg) no-repeat 0 -3vh;
  background-size: cover;
  background-blend-mode: hue;
  background-color: #3547326e;
}
.boxchar:nth-child(6) {
  background: url(../asset//boxchar5.jpg) no-repeat 0 -3.5vh;
  background-size: cover;
  background-blend-mode: hue;
  background-color: #3547326e;
}

.boxchar:hover {
  transition: 400ms;
  background-blend-mode: normal;
  text-shadow: rgb(24, 24, 24) 1px 1px 4px;
}
.boxchar:active{
  box-shadow:currentColor inset 1px 1px 1px;
  font-family: FontAwesome;
  content: "\f056";
}
.boxchar p:hover {
  color: antiquewhite;
}
#addchar p::before {
  font-family: FontAwesome;
  content: "\f055";
}
#addchar p {
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* font-size: 2em; */
  color: rgb(20, 20, 20);
  top: 25%;
}
#addchar {
  background-color: #b6b6b6;
}
#addchar:hover {
  background-color: #e2e2e2;
  text-shadow: none;
}
footer {
  color: #dce6dc;
  background-color: #7e7255;
  grid-area: footer;
  /* border-radius: 5px; */
  padding: 5px;
  font-size: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
}
footer span {
  color: #f0f0f0;
  font-size: 0.8em;
}
